.helper {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    cursor: help;
    border: 1px solid;
    padding:  5px 8px;
    border-radius: 50%;
  
    .fa-question {
      color: #555;
      padding: 0;
    }
  
    .helper__tooltip {
      visibility: hidden;
      opacity: 0;
      max-width: 250px;
      min-width: 150px;
      background-color: #333;
      color: #fff;
      padding: 0.5rem;
      border-radius: 0.5rem;
      position: absolute;
      z-index: 100;
      transition: opacity 0.2s;
  
      &--top {
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
      }
  
      &--bottom {
        top: 125%;
        left: 50%;
        transform: translateX(-50%);
      }
  
      &--left {
        right: 125%;
        top: 50%;
        transform: translateY(-50%);
      }
  
      &--right {
        left: 125%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  
    &:hover .helper__tooltip,
    &:focus .helper__tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
  