.select-character-modal {
    @include flex-col;

    ul {
        @include ul-base;
        @include flex-col;
        gap: $spacing-medium;

        li {
            @include flex-col;
            height: auto !important;

            input {
                display: none;
            }

            label {
                cursor: pointer;
                @include flex-col;
                padding: $spacing-small;
            }

            input:checked + label {
                border-color: $primary-color; 
                background-color: $text-color;
                color: $background-color;
                transform: scale(1.03);
                border-radius: $spacing-small
              }
        }
    }

    .button-group {
        @include flex-row;
        flex-direction: row-reverse;
        gap: $spacing-small;
        margin-top: $spacing-medium;

    }
}


@include media-query($breakpoint-sm, "max") {
    .select-character-modal {
        ul {
            @include flex-col;

            li {
                
                flex: 1;
                padding: $spacing-medium;

                label {
                    box-sizing: border-box;
                    width: 100%;                    
                }
            }
        }
    }
}