.item-listing {
    @include flex-col;
    gap: $spacing-small;
    
    &__buttons {
        @include flex-wrap;
        gap: $spacing-small;

        button {
            @include button;
        }
    }
    
    .item-form {
        @include flex-row;
        gap: $spacing-small;

        label {
            @include flex-col;

            input, select, textarea {
                background: $background-secondary-color;
                border-radius: $spacing-small;
                padding: $spacing-small;
                resize: none;
                border: 1px solid $text-color;
                color: $text-muted;
            }

            textarea {
                height: 15px
            }

        }
        button {
            @include button;

        }
    }

    
    &__content {
        @include flex-col;
        gap: $spacing-medium;
        max-height: 300px;
        overflow-y: auto;
        margin-top: $spacing-small;
        
        h4 {
            margin: 0;
        }

        .item-listing__item {
            @include flex-row;

            button {
                @include button;
                display: flex;
                
                padding: 0;
                height: 25px;
                width: 25px;
                background: none;
                border: 1px solid;
                justify-content: center;

                .fa-x {
                    margin: auto;
                }

            }

            &--details {
                margin-left: $spacing-small
            }
        }
    }
}