 
.share-pannel {
  z-index: 700;
  margin: auto;
  max-height: 500px;

  h2 {
    margin: 0;
  }

  button {
    @include button;
  }

  &--wrapper {
    @include flex-row;
  }

  &__buttons {
    @include flex-col;
    gap: $spacing-medium;
    margin: $spacing-medium 0;
    padding: $spacing-small;

    button {
      @include button;
    }
  }
  &__container {
    @include flex-wrap;
    margin: auto;

    form {
      @include flex-col;

      input[type=text] {
        width: 180px;
      }

    }

    label {
      margin: $spacing-small 0;
    }

    textarea {
      resize: none;
      height: 160px;
      margin: auto;
      margin-bottom: $spacing-small;
      width: 90%;
    }
  }
}
.preview-container {

  .preview-grid {
    min-height: 150px;
    @include flex-wrap;
    .preview-item {
      @include flex-col;

      &__buttons {
        @include flex-row;
        gap: $spacing-medium;
      }

      button {
        width: 120px;
        margin: 10px 0;
      }
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}

.gallery {
  ul {
    @include ul-base;
    @include flex-wrap;
    width: 100%;
    gap: $spacing-small;

    li {
      @include flex-col;
      align-items: baseline;
      padding: $spacing-small;
      border: 1px solid;

      img {
        width: 100%;
        height: 100%;
      }

      p {
        margin: 0;
        white-space: pre-line;
      }
    }
  }
}

.file-item {
  @include flex-col;
  position: relative;
  width: 150px;
  height: 150px;

  &--remove {
    position: absolute;
    background: rgba(0, 0, 0, 0.336) !important;
    left: $spacing-small;
    bottom: 8px;
  }

  &__header {
    position: absolute;
    box-sizing: border-box;
    padding: $spacing-small;
    background: rgba(0, 0, 0, 0.336);
  }

  p {
    overflow-y: scroll;
    height: 110px;
    width: 100%;
  }

  .show-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}


@include media-query($breakpoint-sm, "max") {
  .share-pannel {
    max-height: 450px;
    .share-pannel--wrapper {
      .gallery {
        ul {
          max-height: 300px;
          overflow: auto;
        }
      }
    }
  }
}
