.gm-toolbar-container {
  position: relative;

  p {
    margin: 0;
    margin-left: 10px;
  }

  .gm-toolbar__heading {
    margin: auto 0 auto 0;
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: $background-color;
    z-index: 20;
    padding: 5px;
  }

  .gm-toolbar--buttons {
    position: relative;
    @include flex-wrap;
    border-top: 1px solid;
    border-bottom: 1px solid;
    gap: $spacing-large;
    padding: $spacing-small;

    button {
      @include button;
      background: none;
    }
  }

}

.gm-tool {
  position: absolute;
  left: 0;
  padding: $spacing-medium;
  background-color: $background-color;
  z-index: 900;
  box-sizing: border-box;
  border-radius: 0 0 $spacing-medium 0;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.gm-toolbar-container.is-sticky {
  position: sticky;
  top: 75px;
  border-top: none !important;
  z-index: 500;
  backdrop-filter: blur(5px);

  .gm-toolbar__heading {
    display: none;
  }
}

@include media-query($breakpoint-sm, "max") {
  .gm-toolbar-container {

    .gm-toolbar--buttons {
      span {
        display: none;
      }

      i {
        font-size: 20px;
      }
    }
  }

  .gm-toolbar-container.is-sticky {
    position: sticky;
    top: 112px;
    border-top: none !important;
    z-index: 1000;
    backdrop-filter: blur(5px);
  }
}
