

.chat {
    margin-top: $spacing-medium;
    width: 250px;
    
    &__header {
        @include flex-row;
        align-items: center;
        gap: $spacing-medium;
        cursor: pointer;
    }

    &__label {
        margin: $spacing-small 0;
    }

    &__messages {
        @include flex-col;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        
        p {
            margin: $spacing-small 0;
        }

        &--player {
            padding: $spacing-small 0;
            
        }
    }
}


.chat__messages--diceRoll {
    animation: popIn 1s ease-out;
  }
  
  @keyframes popIn {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }