

.news {
    @include flex-col;
    padding: $spacing-small;
    gap: $spacing-small;

    a {
        color: inherit;
        font-weight: 500;
    }

    .news__article {
        flex: 1;
        border: 1px solid;
        border-radius: $spacing-small;
        padding: $spacing-small;
        background: $background-secondary-color;

        h3,h4 {
            margin: 0;
        }

        h3 {
            border-bottom: 1px solid;
            padding: $spacing-small 0;
        }
        
        h4 {
            padding-left: $spacing-medium;
            font-style: italic;
        }
    }
}



.articles-container {
    display: flex;
}