.tabletop-browse {
  ul {
    @include ul-base;
    @include flex-col;
    gap: $spacing-small;
    margin-top: $spacing-small;
    li {

      .table-infos {
        @include flex-col;
        justify-content: space-between;
        width: 100%;
        height: 100px;

        &--name {
          font-weight: 600;
        }

        p {
          margin: 0;
        }

      }
      &:hover {
        background: rgba(
          red($text-color),
          green($text-color),
          blue($text-color),
          0.2
        );
      }

      button {
        width: 100%;
        background: none;
        @include flex-row;
        align-items: center;
        gap: $spacing-small;
        padding: $spacing-small;
        transition: all 0.3s;
        color : $text-color;
      }
        .table-banner {
          display: flex;
          align-items: center;
          overflow: hidden;

          img {
            height: 100px;
            width: 175px;
            object-fit: cover; 
            display: block;
            border-radius: $spacing-small;
          }


      }

      .fa-user {
        margin-right: 5px;
      }
      .is-online {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid green;
      }
      p {
        text-align: left;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ddd;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #bbb;
}

.pagination .active {
  background-color: #3498db;
  color: white;
}


.table-searchbar {
    display: flex;

    input {
        all: unset;
        width: 160px;
        border-radius: 15px 0 0 15px;
        padding: 5px 15px;
        border: 0px solid;
        background-color: $background-light;
        cursor: pointer;

        &:active {
            border: none;
            outline: none
        }
    }
    
    button {
        @include button;
        border-radius: 0 15px 15px 0;
        padding: 6px 10px;
        
    }
}