 

.tabletop-creation {
    max-width: 350px;
    margin: auto;
    top: 0;
    form, label {
        @include flex-col;
        text-align: left;
        gap: $spacing-small;
       

    }

    form {
        gap: $spacing-medium; 

        button {
            position: relative;
            top: unset;
            right: unset;
            @include button;
        }
        input {
            padding: $spacing-small;
        }

        .select-game {
            @include flex-row;
        }
    }
}