.choose-frame {
    @include flex-row;
    position: absolute;
    bottom: 0;
    z-index: 501;
    &__form {
        display: flex;
        flex-direction: row !important;
        z-index: 300;
        gap: $spacing-small;
        align-items: center;
        background: rgba(0, 0, 0, 0.26);
    }

    .frame-preview {
        img {
            height: 95px;
            width: 95px;
        }
    }
}



.frame-overlay {
    position: absolute;
    padding: 0 !important;
    z-index: 200;


    &--creation {
        bottom: 11px;
        left: -10px;

    }

    &--edit {
        top: 0px;
        left: -10px;
    }

    &--small {
        z-index: 801;
    width: 101%;
    height: 101%;
    }
}
