.choose-frame {
    @include flex-row;
    gap: $spacing-small;
    
    label {
        @include flex-row;
        z-index: 300;
        margin-bottom: $spacing-large;
    }

    .frame-preview {
        img {
            height: 95px;
            width: 95px;
        }
    }
}



.frame-overlay {
    position: absolute;
    width: 326px;
    height: 315px;
    top: -27px;
    left: -15px;
}
