

.welcome {

  min-width: 200px;
  padding: $spacing-small;

  h1, h2 {
    margin: 0;
  }

  h2 {
    font-style: italic;
    margin-left: $spacing-medium;
    font-size: 20px;
  }

  p {
    margin: 0 0 $spacing-small 0;
    text-align: left;
  }
}