.profile {
  width: 350px;
  @include flex-col;
  &--picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .on-column {
    @include flex-col;
    span {
      padding: $spacing-small 0;
    }
    }

  &__main {
    @include flex-row;
    gap: $spacing-medium;

    &--content {
      @include flex-col;
      gap: $spacing-medium;
      * {
        margin: 0;
      }
    }
  }

  &__stats {
    @include flex-row;
    justify-content: space-between;
  }

  &__tables-joined {
    @include flex-col;
    gap: $spacing-medium;
    padding: $spacing-small;
    ul {
      @include ul-base;
      @include flex-col;
      gap: $spacing-small;
    }
  }

  hr {
    width: 100%;
    margin:  $spacing-small 0;
  }
}
