.home {
  @include flex-row;
  flex: 1;

  &-wrapper {
    @include flex-col;
    flex: 1;

    &__container {
      @include flex-row;
    }
  }

  &__tables-options {
    @include flex-col;
    h2 {
      text-align: left;
    }
    &--div {
      @include flex-row;
      width: 100%;
      padding: 0 $spacing-small;
      margin-left: 0;

      p {
        margin: 0 auto $spacing-small 0;
      }

      .tabletop-browse,
      .tabletop-creation {
        gap: $spacing-small;
      }

      @include media-query($breakpoint-sm, "min") {
      }
    }
  }
  .tabletop-browse__btn {
    button {
      color: $text-color;
    }
  }
}

.tables-choices {
  position: relative;
  @include flex-row;
  justify-content: space-evenly;
  .table-top-browse-div,
  .table-creation-div {
    width: 40%;
  }

  @include media-query($breakpoint-lg, "max") {
    @include flex-col;
    gap: $spacing-medium;
    .table-top-browse-div,
    .table-creation-div {
      width: 100%;
    }

    .collapse__heading--title {
      width: 100%;
      text-align: center !important;
    }
  }
}

.prev-tables {
  width: 100%;

  h2 {
    margin: 0
  }

  ul {
    @include ul-base;
    @include flex-wrap;
    width: 100%;
    gap: $spacing-small;

    li {
      @include flex-col;
      align-items: center;
      text-align: left;
      gap: $spacing-medium;
      cursor: pointer;
      padding: $spacing-small;
      transition: all 0.3s;
      width: 200px;
      height: 270px;
      border: 1px solid;
      align-items: center;
      border-radius: calc($spacing-small *2);


      img {
        width: 100%;
        min-height: 125px;
        object-fit: cover;
        display: block;
        border-radius: $spacing-small;
      }

      .table__recap {
        @include flex-col;
        width: 100%;
        height: 100%;
        margin: auto auto 0 auto;

        &--name {
          font-weight: 800
        }

        p {
          @include flex-col;
          margin: 0;
          height: 100%;
          gap: calc($spacing-small *2);
        }
      }
    }
  }

  &__no-game {
    @include flex-row;
    gap: $spacing-large;

    button {
      @include button;
    }
  }
}


@include media-query($breakpoint-sm, "max") {
  .home {
    @include flex-col;
  }
}