@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.home {
  @include flex-row;
  flex: 1;

  &-wrapper {
    @include flex-col;
    flex: 1;
  }

  &__tables-options {
    @include flex-col;
    h2 {
      text-align: center;
    }
    &--div {
      .tabletop-browse,
      .tabletop-creation {
 
        padding: $spacing-large
      }

      @include media-query($breakpoint-sm, "min") {
        @include flex-row;

        .table-top-browse-div,
        .table-creation-div {
          width: 50%;
        }
      }
    }
  }
  .tabletop-browse__btn {
    button {
        color: $text-color;
    }
  }
}
