@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.home {
  @include flex-row;
  flex: 1;

  &-wrapper {
    @include flex-col;
    flex: 1;
    margin: $spacing-small;

    &__container {
      @include flex-row;
      justify-content: space-evenly
    }
  }

  &__tables-options {
    @include flex-col;
    h2 {
      text-align: center;
    }
    &--div {
      @include flex-col;
      width: 50%;
      padding: $spacing-small;
      
      p {
        margin: 0 auto $spacing-small 0;
      }

      .tabletop-browse,
      .tabletop-creation {
        gap: $spacing-small;
      }

      @include media-query($breakpoint-sm, "min") {



      }
    }
  }
  .tabletop-browse__btn {
    button {
        color: $text-color;
    }
  }
}


.tables-choices {
  @include flex-row;
  justify-content: space-evenly;
  .table-top-browse-div,
  .table-creation-div {
    width: 40%;
  } 

  @include media-query($breakpoint-lg, "max") {
    @include flex-col;
    gap: $spacing-medium;
    .table-top-browse-div,
    .table-creation-div {
      width: 100%;

    } 

    .collapse__heading--title {
        width: 100%;
        text-align: center !important
      
    }
    
  }
}


.prev-tables {
  ul {
    @include ul-base;

    li {
      @include flex-row;
      align-items: center;
      text-align: left;

      gap: $spacing-medium;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      border-left: 1px solid transparent;
      padding: $spacing-small;
      transition: all 0.3s;

      &:hover {
          border-bottom: 1px solid ;
          border-left: 1px solid ;
        .fa-chevron-right {
            transform: scale(120%);
        }
      }

      .table__recap {
        span {
          margin-left: $spacing-medium;
        }
      }
    }
  }
}