.sheet {
  @include flex-col;
  position: relative;
  margin-bottom: 50px;
  input,
  textArea {
    background: $background-dark;
    color: $text-muted;
  }

  .game-logo {
    width: min(500px, 50%);
    margin: $spacing-large auto;
  }

  button {
    @include button;
  }

  h3 {
    margin: 0 0 $spacing-small 0;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: $spacing-small;
  }

  label {
    @include flex-col;
    gap: 3px;
    text-align: left;
  }

  &__top {
    @include flex-col;
    flex-wrap: wrap;
    gap: $spacing-small;
    justify-content: space-around;

    @include media-query($breakpoint-sm, "min") {
      @include flex-row;
    }

    * {
      padding: $spacing-small;
    }
  }

  &__bottom {
    @include flex-col;
    position: relative;
    gap: $spacing-small;
    justify-content: space-around;

    @include media-query($breakpoint-sm, "min") {
      @include flex-wrap;
    }

    &--fixed {
      table {
        .table-left {
          text-align: left;
        }

        .table-center {
          text-align: center;
        }
      }
    }

    &--skills {
      .what-skil {
        @include flex-wrap;
        gap: $spacing-small;
        padding: $spacing-small;

        &--link {
          @include flex-row;
          gap: $spacing-small;
          label {
            input {
              width: 70px !important;
            }
          }
        }

        input[type="text"] {
          width: 240px;
        }

        input[type="number"] {
          width: 70px;
        }
      }
    }

    &--inventory {
      @include flex-col;
      padding: $spacing-small;
      flex: 1;

      @include media-query($breakpoint-sm, "min") {
        &--inventory {
          max-width: 50%;
        }
      }

      .gold {
        @include flex-row;
        padding: $spacing-small;
        gap: $spacing-small;
        input {
          width: 70px;
        }
      }
      .item {
        @include flex-row;
        gap: $spacing-small;
        padding: $spacing-small;
        width: 100%;
        input[type="text"] {
          width: 300px;
        }

        input[type="number"] {
          width: 50px;
        }
      }
    }
  }

  &__background {
    width: 100%;
    margin: 0 60px 0 auto;

    &--pros-and-cons {
      @include flex-row;
      gap: $spacing-medium;
      margin-bottom: $spacing-medium;

      label {
        width: 50%;
        height: 150px;
      }
    }

    textarea {
      height: 450px;
      resize: none;
    }

    @include media-query($breakpoint-sm, "min") {
      max-width: 50%;
    }
  }

  .character__equipment {
    position: relative;

    &--weapon {
      @include flex-wrap;

      .input-weap-name {
        width: 200px;
      }

      .input-weap-dmg {
        width: 50px;
      }
    }
  }

  .character-identity {
    @include flex-col;

    @include media-query($breakpoint-sm, "min") {
      @include flex-row;
    }

    &--img {
      @include flex-col;
      position: relative;
      z-index: 200;
      input {
        display: none;
      }

      img {
        width: 260px;
        height: 260px;
        border-radius: 15px;
        object-fit: cover;
      }
      .img-container {
        position: relative;
        @include flex-center;
        flex-grow: 1;
        width: 260px;
        height: 260px;
        background-color: $background-dark;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background: rgba(var(--text-color-rgb), 0.2);
        }

        p {
          position: absolute;
          bottom: 5px;
          z-index: 800;
        }

        .image-placeholder {
          filter: invert(1);
        }
      }
    }
  }

  .character-points {
    position: relative;

    @include flex-col;
    label {
      padding: (calc($spacing-small * 2));
    }

    input {
      width: 50px;
    }
  }

  .character-stats {
    position: relative;
    label {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      gap: $spacing-small;
      width: 215px;
    }

    input {
      width: 70px;
    }
  }

  .btn-container {
    @include flex-row;
    justify-content: center;
    gap: $spacing-large;
    background: $background-dark;
    z-index: 201;

    position: sticky;
    padding: $spacing-medium;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    bottom: 0;

    button {
      @include button();
    }
  }

  .sheet__last-section {
    @include flex-col;
    justify-content: space-evenly;
    @include media-query($breakpoint-sm, "min") {
      @include flex-row;
    }
  }
}

.game-selector {
  label {
    @include flex-col;
    width: 190px;
  }
}
