 
.modal__inside--content{

    .character-list{

        ul{
            @include ul-base;
            @include flex-col;
            gap: $spacing-small;
        }
    }

    .character{
        position: relative;
        @include flex-col; 
        border: 1px solid;
        padding: $spacing-small;
        cursor: pointer;

        &:hover {
            background: rgba(red($text-color), green($text-color), blue($text-color), 0.2);
            border: 1px solid transparent;            
        }

        h2 {
            margin: 0;
        }

        .fa-trash{
            position: absolute;
            top: 5px;
            left: 5px;
            transition: all 0.5s;
            &:hover {
                color: rgb(194, 99, 99);
                transform: scale(110%)
            }
        }

        &__inside{
            @include flex-row;

            flex-direction: row-reverse;

            &--stats{
                width: 50%;

                p{
                    @include flex-row;
                    width: 120px;
                    justify-content: space-between;
                }
            }

            &--image{
                width: 50%;
                img{
                    width: 100px;
                }
            }
        }
    }
}