
.auth-container {

  top: 65px;
  right: 15px;
  height: 285px;
  
    @include flex-col;
    margin: auto;
    padding: $spacing-small $spacing-medium;
    text-align: center;
    border-radius: 8px;
    width: 350px;
    min-height: 250px;
    background-color: $background-color;
    
    h2 {
      margin: $spacing-small;
    }

    &__btns {
      @include flex-row;
      flex-direction: row-reverse;
      align-items: center;
      gap: $spacing-small;
      justify-content: center;
      background: none ;
      button.selected {
        @include button;
        cursor: default; // Facultatif : désactiver le curseur pointer
      }
    }

  form{
    @include flex-col;
    gap: $spacing-small;

    button {
      width: 70%;
      margin: auto;
      @include button;

      &:hover {
        border: none
      }
    }
  }
  
   input {
    display: block;
    flex: 1;
    padding: $spacing-small;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
 .btn-log {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s;
  margin: auto auto 5px auto;
  

  &:hover {
    @include button
  }
  }
  
   .toggle-btn {
    background: none !important;
    color: #007bff;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    margin-top: auto;

  }
}


.form__inputs-div {
  @include flex-col;

}