.leave-tables {


    ul {
        @include ul-base;
        @include flex-col;
        gap: $spacing-small;

        li {
            @include flex-col;
            background: $background-secondary-color;
            padding: $spacing-small;
            border-radius: $spacing-small;
            gap: $spacing-small;
            
            p {
                margin: 0;
                font-weight: 600;
            }

            button {
                width: 130px;
                margin: auto 0 auto auto;
            }
        }
    }
}