@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.header {
    @include flex-row;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 999;
    width: 100%;
    h1 {
        text-align: left;
        margin-left: 5px;
        font-size: 20px;
        cursor: pointer;
    }

    .menu-toggle {
        margin: auto $spacing-medium auto auto;
        background: none;
        color: $text-color;
        padding: $spacing-medium;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }

}