

.header {
    @include flex-row;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 999;
    width: 100%;

    .auth-btn {
        @include button;
        height: 35px;
        margin: auto 15px auto auto;
    }

    h1 {
        text-align: left;
        margin-left: 5px;
        font-size: 20px;
        cursor: pointer;
    }

    .menu-toggle {
        position: absolute;
        right: 0;
        background: none;
        color: $text-color;
        padding: $spacing-medium;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }

    .main-nav {
        all: unset;
        @include flex-row;
        gap: $spacing-small;
        margin: auto;

        button {
            background: none;
            border: none;
            color: $text-color;
            cursor: pointer;

        }

    }

}