 

.main-menu {
    @include flex-col;
    z-index: 850;
    gap: $spacing-medium;
    background: $background-color ;
    z-index: 950;
    position: absolute;
    right: 15px;
    top: 55px;
    padding: $spacing-small;
    border-radius: $spacing-medium 0 $spacing-medium $spacing-medium ;
    border: 1px solid;

    h2 {
        margin: 0;
        text-align: left;
    }

    ul{
        @include flex-col;
        @include ul-base;
        text-align: left;

        li{
            cursor: pointer;
            padding: $spacing-small;
            transition: all 0.3s;
            &:hover{
                background: $primary-color;
                color: $background-color;
            }
        }
    }
    
}
