// Couleurs principales
$background-color: var(--background-color);
$text-color: var(--text-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);
$text-muted: var(--text-muted);

// Couleurs dérivées
$background-light: var(--background-light);
$background-dark: var(--background-dark);

// Typographie
$font-family: var(--font-family);
$font-size-base: var(--font-size-base);

// Espacements
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Border-radius
$border-radius: 5px;


// Variables pour les breakpoints
$breakpoint-xs: 480px;  // Très petits écrans (smartphones en portrait)
$breakpoint-sm: 768px;  // Tablettes en portrait
$breakpoint-md: 1024px; // Tablettes en paysage ou petits ordinateurs portables
$breakpoint-lg: 1280px; // Ordinateurs de bureau ou grands écrans
$breakpoint-xl: 1600px; // Très grands écrans

//Fonts
.font-uncial { font-family: 'Uncial Antiqua', cursive; }
.font-medieval { font-family: 'MedievalSharp', cursive; }
.font-pirata { font-family: 'Pirata One', cursive; }
.font-cinzel { font-family: 'Cinzel Decorative', cursive; }
.font-imfell { font-family: 'IM Fell English', serif; }
.font-almendra { font-family: 'Almendra SC', serif; }
