@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.reset-container {
    @include flex-col;

    h2 {
        text-align: center
    }

    form {
        @include flex-col;
        gap: $spacing-medium;
        margin: auto;

        label {
            @include flex-col;
            gap: $spacing-small;
        }
    }

    button {
        @include button;
    }
}