 

.players-at-table {
  position: relative;
  right: 25px;
  top: 0;

  padding: $spacing-small;
  margin: $spacing-medium 0 auto auto;

  @include media-query($breakpoint-sm, "max") {
    margin: $spacing-medium 75px auto auto;
  }

  &--container {
    @include flex-col;
    flex-direction: column-reverse;
    gap: $spacing-small;
    margin: auto 0 auto auto;

    @include media-query($breakpoint-sm, "max") {
      flex-direction: row;
    }
    
    .player {
      position: relative;
      @include flex-row;
      margin: auto 0 auto auto;

      &__easy-access {
        @include flex-col;
        position: absolute;
        padding: $spacing-small;
        gap: $spacing-small;
        width: 175px;
        margin-right: 5px;
        border: 1px solid transparent;
        right: 35px;
        z-index: 501;
        background-color: $background-color;
        border-radius: $spacing-small;

        &--buttons {
          @include flex-row;
          justify-content: space-between;
        }

        &--wrapper {
          position: relative;
          @include flex-row;
          flex-direction: row-reverse;
          height: 95px;
          background: none;
          padding: $spacing-small;


          button {
            background: none;
            color : $text-color;
            border: 1px solid;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            background: $background-color;

            &:hover {
              border: 1px solid;
            }
          }
        }

        p {
            margin: 0;
        }

        &--hp, &--coins, &--inventory, &--equipment {
          position: relative;
          @include flex-row;
          flex-direction: row-reverse;
        }

        &--inside {
          @include flex-row;
          width: 100%;
          justify-content: center;
          padding: 5px;
          gap: $spacing-small;
          z-index: 600;
          box-sizing: border-box;
          min-height: 40px;


          table {
            width: 100%;
            border-collapse: collapse;
        
            th,
            td {
              padding: 4px;
            }
        
            th:nth-child(2),
            td:nth-child(2) {
              text-align: center;
              vertical-align: middle;
            }
          }

          span {
            display: flex;
            align-self: center;
          }
          
          .fa-solid {
            padding: 5px;
          }
        }
      }

      .character-hp {
        position: absolute;
        display: flex;
        align-items: center; // Centre verticalement
        justify-content: center; // Centre horizontalement
        bottom: 0px;
        right: 0;
        width: 45px;
        height: 45px;
        margin: 0;
        transition: all 0.3s;
        z-index: 500;
        .fa-regular {
          font-size: 40px;
          position: absolute;
        }
        .fa-solid {
          font-size: 40px;
          color: rgba(0, 0, 0, 0.596);
        }

        span {
          position: absolute;
          font-size: 14px; // Ajuste si nécessaire
        }
      }

      &__image {
        position: relative;
        cursor: pointer;
        height: 95px;
        width: 95px;
        margin: auto 0 auto auto;
        img {
          width: 100%;
          height: 100%;
          margin: auto auto 0 auto;
          object-fit: cover;
          transition: all 0.3s;
        }
        &:hover {
          border-radius: 50%;

          img {
            border-radius: 50%;
            transform: scale(110%);
          }

          p {
            display: none;
          }
        }

        &--name {
            background: rgba(0, 0, 0, 0.596);
        }

        p {
          box-sizing: border-box;
          position: absolute;
          bottom: 0;
          padding: 5px;
          margin: 0;
          width: 110px;
          text-align: left;
          
        }
      }
    }
  }
}

.chevron {
  width: 25px;
  margin: auto;
}

.health-modifier {
  display: flex;
  width: 25px;
  height: 25px !important;
  margin: auto 5px;
  justify-content: center;
  align-items: center;
  border: none !important;
}


@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.player__easy-access {
  animation: slideFadeIn 0.3s ease-out;
}


@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
  .player__easy-access--inside {
    animation: fadeInOpacity 0.7s ease-out;
  }


  