@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.players-at-table {
    width: 80px;
    margin: 0 0 auto auto;
    padding: $spacing-small;
    border: 1px solid;
    &--container {
        width: 80px;
        @include flex-col;
        
        .player {
            position: relative;

            width: 100%;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            p {
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.479);
                padding: 5px;
                margin: 0;
                width: 100%;
                text-align: left;
            }
        }
    }
}