
.npcs {
    @include flex-col;
    max-width: 50vh;
    min-width: 480px;

    @include media-query($breakpoint-sm, "max") {
        @include flex-col;
        overflow: auto;
    }
    .form-content {
        @include flex-row;
        gap: $spacing-small;

        @include media-query($breakpoint-sm, "max") {
            @include flex-col;
        }

    }

    &__scroll {
        position: relative;
        @include flex-wrap;
        gap: $spacing-small;
        overflow-y: auto;
        max-height: 500px
    }

    &__bar {
        min-width: 150px;
        &--buttons {
            @include ul-base;
            @include flex-row;
            gap: $spacing-medium;
            padding: $spacing-small;
        }
    }

    &__form {
        max-height: 55vh; // ou ajuste selon ton besoin
        overflow-y: auto;
        padding-right: $spacing-small;

        @include media-query($breakpoint-sm, "max") {
            &__form {
              max-height: 50vh;
              overflow-y: auto;
            }
        }

        &--base, &--details {
            @include flex-col;
            gap: $spacing-small;

            label {
                @include flex-col;
            }
        }

    }

    h2, h3, h4 {
        margin: 0;
    }

    textarea {
        resize: none;
        height: 150px;
    }

    button {
        @include button;
    }

    .create-npc {
        width: 100%;
        margin: $spacing-small 0;
    }

.npcs__list {
    ul {
        @include ul-base;
    }
}
    .npc {
        
        width: 45%;
        padding: $spacing-small;

        p, h2 {
            @include flex-row;
            justify-content: space-between;
            align-items: baseline;
            margin: $spacing-small 0;
        }
        
        &__stats {
            @include flex-col;
            gap: $spacing-medium;
        }

        &__stats, &__items {
            ul {
                @include ul-base;
    
                li {
                    @include flex-col;
                    justify-content: space-between;
                    min-width: 100px
                }
            }
        }
    }
}