
.npcs {
    @include flex-col;
    max-width: 50vh;
    min-width: 480px;

    @include media-query($breakpoint-sm, "max") {
        @include flex-col;
        overflow: auto;
    }
    .form-content {
        @include flex-row;
        gap: $spacing-small;

        @include media-query($breakpoint-sm, "max") {
            @include flex-col;
        }

    }

    &__scroll {
        position: relative;
        @include flex-wrap;
        gap: $spacing-small;
        overflow-y: auto;
        max-height: 500px
    }

    &__bar {
        min-width: 150px;
        &--buttons {
            @include ul-base;
            @include flex-row;
            gap: $spacing-medium;
            padding: $spacing-small;
        }
    }

    &__form {
        max-height: 55vh; // ou ajuste selon ton besoin
        overflow-y: auto;
        padding-right: $spacing-small;

        @include media-query($breakpoint-sm, "max") {
            &__form {
              max-height: 50vh;
              overflow-y: auto;
            }
        }

        &--base, &--details {
            @include flex-col;
            gap: $spacing-small;

            label {
                @include flex-col;
            }
        }

    }

    h2, h3, h4 {
        margin: 0;
    }

    textarea {
        resize: none;
        height: 150px;
    }

    button {
        @include button;
    }

    .create-npc {
        width: 100%;
        margin: $spacing-small 0;
    }

.npcs__list {
    ul {
        @include ul-base;
    }
}
    .npc {
        position: relative;
        @include flex-col;
        width: 110px;
        padding: $spacing-small;
        gap: $spacing-small;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            border: 1px solid;
            border-radius: $spacing-small;
        }

        h2 {
            position: absolute;
            padding: calc($spacing-small / 2);
            background: rgba(0, 0, 0, 0.699);
            width: 102px;
            @include flex-row;
            flex-direction: row-reverse;
            justify-content: left;
            gap: $spacing-small;
            margin: 0;
            font-size: 13px;
            border-radius: $spacing-small $spacing-small 0 0;
            
        }
        
        &__image {
            margin: auto;
            width: 100%;
        }

        &__btns {
            @include flex-row;
            justify-content: space-between;
        }

        .show-btn {
            width: 50px;
        }


    }
}


.modal__inside--content {
    .npc-details {
        &--first-block {
            @include flex-row;
            justify-content: space-between;
            ul {
                @include ul-base;
            }
        }
    }
}