 

.table-user {

    &--no-player {
        padding: $spacing-medium;
        font-weight: 600
        
    }

    &__buttons {
        @include flex-row;
        flex-direction: row-reverse;
        @include flex-center;


        .fa-gavel, .fa-skull {
            @include flex-center;
            padding: $spacing-small;
            cursor: pointer;
            font-size: 20px;
        }
        
        .fa-gavel{
            color: red;
        }
    }

    p {text-align: left}
    ul {

        @include flex-col;
        gap: $spacing-medium;

        li {
            @include flex-row;


        }
    }

    &__info {
        text-align: left;
        p {
            margin-left: 20px;
        }
    }
}