.table-content__media-container {
  display: flex;
  padding: $spacing-small;
  z-index: 1;
  position: relative;
  height: 100%;
  margin: auto;
  flex: 1;
  min-width: 0;
  max-width: calc(
    100% - 220px
  ); //La dernière valeur est celle de la box des personnages sur la table
  margin-top: 15px;
  min-height: 560px;
  background-size: cover;
  margin: $spacing-medium 0;
  border-radius: $spacing-medium;

  .displayed-text {
    white-space: pre-line;
    background-size: cover;
    word-wrap: break-word;
    padding: $spacing-large;
    margin: auto;
    overflow: auto;
    max-height: 560px;
  }

  .media-container,
  .zoom-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    outline: none;
    height: 700px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;

    img {
      height: 100%;
      width: 100%;
      z-index: 2;
      margin: auto;
      object-fit: contain;
    }

    .zoom-controls {
      position: absolute;
      bottom: 0;
      right: 0;
      @include flex-row;

      gap: $spacing-small;
      padding: $spacing-small;
      position: absolute;
      z-index: 50;
      bottom: 0;

      button {
        @include button;
        height: 35px;
        width: 35px;
        padding: 0;
      }
    }

    .remove-btn-wrapper {
      @include flex-row;
      gap: $spacing-small;
      position: absolute;
      top: 0;
      left: 0;
    }

    .remove-doc-btn,
    .remove-npc-btn {
      background: rgba(0, 0, 0, 0.178);
      border: none;
      color: white;

      padding: $spacing-small;
      cursor: pointer;
      width: 32px;
      height: 32px;
      z-index: 51;
    }
  }
  .npc-display-list {
    height: 100%;
    z-index: 50;
    left: 0;
    top: 40px;
    position: absolute;
    overflow: auto;
    
    .npc-card {
      position: relative;
      cursor: pointer;

      &:hover {
        p{
          opacity: 0;
        }
      }

      img {
        border-radius: $spacing-small;
        width: 100px;
        height: 100px;


      }

      p {
        position: absolute;
        bottom: 3px;
        z-index: 52;
        margin: 0;
        padding: $spacing-small;
        width: 100%;
        background: rgba(22, 22, 22, 0.349);
        box-sizing: border-box;
        border-radius: 0 0 $spacing-small $spacing-small;
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}

.bg-scroll {
  background: url("../../assets/backgrounds/scroll.webp") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-dark {
  background-color: rgba(80, 80, 80, 0.26);
}

@include media-query($breakpoint-sm, "max") {
  .table-content__media-container,
  .media-container,
  .zoom-controls {
    width: auto;
    flex: 1;
    max-width: 100%;
  }

  .table-content__media-container .npc-display-list {
    @include flex-row;
    gap: $spacing-small;
    height: 105px;
    width: 100%;

    .npc-card {
      height: 100px;

      p {
        bottom: 0;
      }
    }
  }
}
