@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.table-user {
    p {text-align: left}
    ul {

        @include flex-col;
        gap: $spacing-medium;

        li {
            @include flex-row;

            .fa-trash {
                @include flex-center;
                padding: $spacing-small;
            }
        }
    }

    &__info {
        text-align: left;
        p {
            margin-left: 20px;
        }
    }
}