.unfold-menu {
    position: absolute;
    min-width: 150px;
    padding: 5px 0;

    ul {

        background-color: $background-color;
        @include ul-base;
        @include flex-col;
        gap: $spacing-small;
        padding: $spacing-small;
        li {
            cursor: pointer;
            padding: $spacing-small;
            border-bottom: 1px solid transparent;
            transform: all 0.3s;

            &:hover {
                border-bottom: 1px solid ;
            }
        }
    }
}