

.banner {
    margin: $spacing-medium auto  calc($spacing-large *3) auto;

    width: 100%;
    background: no-repeat center;
    box-sizing: border-box;
    position: relative;
    background-size: cover;

    @include media-query($breakpoint-sm, "max") {
        height: 300px !important;
    }

    h2 {
        position: absolute;
        top: 0;
        padding: $spacing-small;
    }
}